.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4b0082;
  }
  
  .logo img {
    height: 50px;
  }
  
  .menu-button img {
    height: 50px;
    cursor: pointer;
  }
  
  .menu-button img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
  }
  