@font-face {
    font-family: 'Solanel Black';
    src: url('./assets/fonts/solanel-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Solanel Black', sans-serif;
  }
  